<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Leere Null 0.10. Copyright © 2011 by Hanns Holger Rutz. All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>0.10</string>
	<key>CFBundleName</key>
	<string>MyScalaColliderApp</string>
	<key>CFBundleIdentifier</key>
	<string>doe.john</string>
	<key>CFBundleVersion</key>
	<string>0.10</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>application.icns</string>
	<key>Java</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>apple.awt.graphics.UseQuartz</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-ea</string>
		<key>MainClass</key>
		<string>doe.john.myscalacolliderapp.MyScalaColliderApp</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/myscalacolliderapp.jar</string>
			<string>$JAVAROOT/scala-library.jar</string>
			<string>$JAVAROOT/scalaaudiofile.jar</string>
			<string>$JAVAROOT/scalacollider.jar</string>
			<string>$JAVAROOT/scalaosc.jar</string>
		</array>
	</dict>
</dict>
</plist>
